dist
.env
node_modules

graphQL
api/.venv
api/.env
api/__pycache__
.next
api/alembic
api/migrations
package-lock.json
Build

api/extension/__pycache__
api/domains/__pycache__
api/services/__pycache__
api/routers/__pycache__
api/schemas/__pycache__
api/utils/__pycache__
api/gateway/__pycache__
api/domains/users/__pycache__
api/domains/tokens/__pycache__
api/domains/sessions/__pycache__
api/domains/payments/__pycache__
api/domains/services/__pycache__
api/domains/courses/routes/__pycache__
api/domains/community/__pycache__
api/domains/bootcamps/__pycache__
api/core/__pycache__
api/auth/__pycache__
api/domains/mailings/services/__pycache__
api/domains/mailings/__pycache__
api/domains/progress/__pycache__
